.preloaderSeciton {
    margin: auto;
    height: 100vh;
    width: 70px;
    transition: opacity .8s ease;
    z-index: 1;
    overflow: hidden;
    position: fixed;
    left: 50%;
}

.preloader-hiding {
    opacity: 0;
}

.preloader-hidden {
    display: none;
}

.mainSection {
    z-index: 0;
    overflow: hidden;
}

.mainSection-showing{
    display: none;
}